<ion-view title="Mosh Fitness Leads" id="home">

  <ion-content padding="true">
    
   <div class = "row">
   <div class = "col col-25">
      <img src="img/yourpt.jpeg" style="display: block; width: 95%;" >
     </div>
    <div class = "col col-50" style="text-align: center;">
      <img src="img/fKRtkjMGSLaR6PbP6ujP_logo-1.png"style="display: block; width: 33%; height: auto; margin-left: auto; margin-right: auto;">
     </div>
    <div class = "col col-25" style="text-align: right;padding-left: 10%;">
      <img src="img/better.png" style="display: block; width: 65%;">
      </div>
      </div>
    <div class="spacer" style="height: 70px;"></div>
    <div class = "col" style="text-align: center;">
   <a href="#/page1/personal-training-enquiry" style="text-decoration: none;"> <button class="button button-large button-balanced button-block" style="font-size: 70px !important; padding: 10px; margin: 10px;" >Personal Training Enquiry </button></a>
</div>
    <div class="spacer" style="height: 60px;"></div>
 <div class = "col" style="text-align: center;">
   <a href="#/profile" style="text-decoration: none;">   <button class="button button-large button-balanced button-block" style="font-size: 70px !important; padding:10px; margin: 10px">Our Profile </button>
</div>
  </ion-content>

</ion-view>
