<ion-view title="Personal Training Enquiry" id="page2">
  <ion-content padding="true" class="has-header">
    
   <div class = "row">
   <div class = "col col-25">
      <img src="img/yourpt.jpeg" style="display: block; width: 95%;" >
     </div>
    <div class = "col col-50" style="text-align: center;">
      <img src="img/fKRtkjMGSLaR6PbP6ujP_logo-1.png"style="display: block; width: 35%; height: auto; margin-left: auto; margin-right: auto;">
     </div>
    <div class = "col col-25" style="text-align: right;padding-left: 10%;">
      <img src="img/better.png" style="display: block; width: 65%;">
      </div>
      </div>
    <div class="spacer" style="height: 30px;"></div>
    
    <div id="contactMe-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
     <h1>Personal Training Enquiry</h1>
      <p style="color:#ee6129;font-size:18px;">REGISTER FOR YOUR FREE FITNESS
        <br> CONSULTATION </p>
        
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <form id="contactMe-form1" class="list" ng-submit="register()" novalidate>
      <label class="item item-input" id="contactMe-input2">
        <span class="input-label">Name</span>
        <input type="text" placeholder="name" required ng-model="formdata.name" name="name">
      </label>
      <label class="item item-input" id="contactMe-input3" >
        <span class="input-label">Phone</span>
        <input type="tel" placeholder="phone" required ng-model="formdata.phone" name="phone">
      </label>
      <label class="item item-input" id="contactMe-input4" >
        <span class="input-label">Email</span>
        <input type="email" placeholder="email" required ng-model="formdata.email" name="email">
      </label>
      <label class="item item-input" id="contactMe-input5" >
        <span class="input-label">Goal</span>
        <input type="text" placeholder="goal" required ng-model="formdata.goal" name="goal">
      </label>
     
        <p ng-show="wrong===true"><pre style="color: #f00;">{{wrongMessage}}</pre></p>
    <div id="contactMe-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:16px;">By registering you accept our <a href="#/page1/privacy-policy">Privacy Policy</a></p>
    </div>
    <button type="submit" id="contactMe-button1" class="button button-positive button-block" ng-disabled="contactMe-form1.$invalid">Register</button>
    </form>
  </ion-content>
</ion-view>
