<ion-view title="Privacy Policy" id="page4">
 <ion-content padding="true" class="has-header">
  
  <img src="img/sports.jpg" style="width: 100%;">
  <div class="spacer" style="height: 30px;"></div>
  <h1 style="color:#ee6129;"> Privacy Policy </h1>
  <div class="spacer" style="height: 15px;"></div>
  <ul></ul><li>This form collects your name, email, phone number and goal regarding your fitness training.<br></li> 
<li>The purpose for collecting this data is to know you and contact you regarding your training.<br></li> 
<li>The data is accessed only by trainers in Mosh Fitness Group.<br></li> 
<li>The data is stored in our secure database for 3 months unless you start training with us. In this case, if you want to export or delete your data you would require to contact us using email info@moshfitness.london.<br></li> 
<li>The data is not shared with any third-party entities.<br></li> 
<li>The data will be stored and processed inside the UK. <br></li> </ul>
</ion-content>
</ion-view>