<ion-view title="Profile" id="page3">
	<ion-header-bar align-title=”center”>
    <img src="img/fKRtkjMGSLaR6PbP6ujP_logo-1.png"style="display: block; width: 10%; height: auto; margin-left: auto; margin-right: auto;">
</ion-header-bar>
  <ion-content padding="true" class="has-header">
   <div class = "row">
   <div class = "col col-25">
      <img src="img/yourpt.jpeg" style="display: block; width: 95%;" >
     </div>
    <div class = "col col-50" style="text-align: center;">
      <img src="img/fKRtkjMGSLaR6PbP6ujP_logo-1.png"style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
     </div>
    <div class = "col col-25" style="text-align: right;padding-left: 10%;">
      <img src="img/better.png" style="display: block; width: 70%;">
      </div>
      </div>
    <div class="spacer" style="height: 30px;"></div>
 <div id="contactMe-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#ee6129;font-size:18px;">Our Profile / About Us</p>
        
    </div>
  <div class="spacer" style="height: 15px;"></div>
  	
<b>Mosh fitness</b> , We believe your mind is your greatest asset / tool ! Together with your body we inspire you to achieve your goals & to be the excellent you. 

<h3 style="color:#ee6129;">Aims </h3>
We Specialise in: 


<ul style="text-transform: uppercase; padding: 2px;">
<li>Weight & inch loss</li>
<li>Weight gain </li>
<li>Body fat reduction </li>
<li>Strength & conditioning </li>
<li>Competition prep </li>
<li>High intensity interval training </li>
<li>Callisthenics </li>
<li>Muaythai boxing </li>
<li>Boxing </li>
<li>Exercise Programs </li>
<li>Mindfulness/ Life style coaching( NLP)</li>
<li>Healthy eating & Nutrition Advice </li>

</ul>
  <div class="spacer" style="height: 15px;"></div>

<h4>Please register your interest for a PT Consultation & we will contact you within 
24HRS to book you in.  </h4>
  	
  	
  </ion-content>
</ion-view>