<ion-view title="Profile" id="page3">
	<ion-header-bar align-title=”center”>
    <img src="img/fKRtkjMGSLaR6PbP6ujP_logo-1.png"style="display: block; width: 10%; height: auto; margin-left: auto; margin-right: auto;">
</ion-header-bar>
  <ion-content padding="true" class="has-header">
  <img src="img/box.jpg" style="width: 100%;">
  <div class="spacer" style="height: 30px;"></div>
  <h1 style="color:#ee6129;"> Our Profile </h1>
  <div class="spacer" style="height: 15px;"></div>
  	Mosh Fitness was built on one simple idea.

That idea was that everyone regardless of current ability would benefit from working with a qualified fitness or wellness professional at some point.
<div class="spacer" style="height: 30px;"></div>
<h3 style="color:#ee6129;">OUR AIM</h3>

To deliver outstanding results whilst giving our clients an experience that is as professional and enjoyable as possible.
<div class="spacer" style="height: 30px;"></div>
<h3 style="color:#ee6129;">WHO ARE WE</h3>

A team of highly experienced and skilled professionals that have come together to offer our clients an experience that is hard to find and that goes above and beyond your “normal personal training experience”.

We understand that with demanding lifestyles, todays professionals can struggle to prioritise exercise, fitness or wellness into an effective regime so this is where we are different in we accommodate everyone that has made the step to want to change for the better – We show them how.

With our experience know that every person we will work with is individual so we adapt and tailor our training, nutritional programmes and most of all the experience. We work with specific body goals whether it be for long term health and wellness goals, an upcoming event or professional sportsperson or Athlete.

We really do cover all areas of training always striving to be the best trainers and coaches that we can be.

Our trainers, coaches and Therapists work together with you to thoroughly plan EVERY step of your journey and look after you throughout.
<div class="spacer" style="height: 30px;"></div>
<h3 style="color:#ee6129;">CLIENT EXPERIENCE</h3>

Enjoyable and Results!
No part of your journey is left to chance with us, we make sure that you feel that you have all the support you could want or need throughout.
  	
  	
  </ion-content>
</ion-view>