<ion-view title="Profile" id="Profile">
  
  
  <ion-content padding="true">
     <a href="#/home" style="text-decoration: none; "><button class="button-small button-positive button" style="font-size: 16px;">Back</button></a>
   <div class = "row">
   <div class = "col col-25">
      <img src="img/yourpt.jpeg" style="display: block; width: 95%;" >
     </div>
    <div class = "col col-50" style="text-align: center;">
      <img src="img/fKRtkjMGSLaR6PbP6ujP_logo-1.png"style="display: block; width: 33%; height: auto; margin-left: auto; margin-right: auto;">
     </div>
    <div class = "col col-25" style="text-align: right;padding-left: 10%;">
      <img src="img/better.png" style="display: block; width: 65%;">
      </div>
      </div>
    <div class="spacer" style="height: 30px;"></div>
 <div id="contactMe-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#ee6129;font-size:22px;">Our Profile / About Us</p>
        
    </div>
  <div class="spacer" style="height: 15px;"></div>
  <div class="col" style="font-size: 20px;">	
<b>Mosh fitness</b> , We believe your mind is your greatest asset / tool ! Together with your body we inspire you to achieve your goals & to be the excellent you. </div>
<div class="col" style="font-size: 20px;">

<h2 style="color:#ee6129;">Aims </h2>
We Specialise in: 


<ul style="text-transform: uppercase; padding: 4px;">
<li>Weight & inch loss</li>
<li>Weight gain </li>
<li>Body fat reduction </li>
<li>Strength & conditioning </li>
<li>Competition prep </li>
<li>High intensity interval training </li>
<li>Callisthenics </li>
<li>Muaythai boxing </li>
<li>Boxing </li>
<li>Exercise Programs </li>
<li>Mindfulness/ Life style coaching( NLP)</li>
<li>Healthy eating & Nutrition Advice </li>

</ul>
</div>
  <div class="spacer" style="height: 15px;"></div>

<h3>Please register your interest for a PT Consultation & we will contact you within 
24HRS to book you in.  </h3>
  	
  	
  </ion-content>
</ion-view>
<style type="text/css">
  li
  {
    padding: 4px !important;
  }
</style>